:root {
  --black: #252525;
  --purple: #6c63ff;
  --white: #f7f7f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: var(--black);
  min-width: 300px;
}
.app-todo {
  position: relative;
  width: 790px;
  height: 610px;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 40px;
}
.app-todo h1 {
  text-align: center;
  color: var(--white);
  margin-bottom: 20px;
}
.direction-wrap {
  display: flex;
  gap: 16px;
}
.search-wrap {
  position: relative;
  width: 595px;
  height: 38px;
}
.search-input {
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 8px 50px 8px 16px;
  width: 100%;
  height: 38px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
}
.search-input::placeholder {
  color: #666;
}
.search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.filter-theme-wrap {
  display: flex;
  gap: 16px;
}
.filter {
  position: relative;
  margin-bottom: 20px;
}
.filter-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  height: 38px;
  background-color: var(--purple);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: var(--white);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}
.filter-label span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-label:hover {
  background-color: #534cc2;
}
.filter-list {
  position: absolute;
  top: 50px;
  border: 1px solid var(--purple);
  border-radius: 5px;
  width: min-content;
  height: min-content;
  background-color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--purple);
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  z-index: 10;
}
.filter-list--active {
  visibility: visible;
  opacity: 1;
}
.filter-item {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.filter-item:hover {
  background-color: rgba(108, 99, 255, 0.2);
}
.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  background-color: var(--purple);
  padding: 0 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.theme:hover {
  background-color: #534cc2;
}
.notes-list {
  width: 540px;
  height: 447px;
  margin: 0 auto;
  overflow-y: auto;
  scrollbar-color: var(--purple) #3d3d3d;
}
.notes-list li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 17px 0;
}
.notes-list li:not(:last-child) {
  border-bottom: 1px solid var(--purple);
}
.checkbox {
  border: 1px solid var(--purple);
  border-radius: 2px;
  width: 26px;
  height: 26px;
  margin-right: 17px;
  flex-shrink: 0;
  cursor: pointer;
}
.checkbox--active {
  background-color: var(--purple);
  background-image: url(icons/check.svg);
  background-repeat: no-repeat;
  background-position: center 35%;
}
.note-title {
  max-width: 410px;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  word-break: break-word;
}
.note-title--complete {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}
.edit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
}
.edit-btn svg {
  pointer-events: none;
}
.edit-btn:hover path {
  stroke: var(--purple);
  transition: stroke 0.2s ease;
}
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.delete-btn svg {
  pointer-events: none;
}
.delete-btn:hover path {
  stroke: #e50000;
  transition: stroke 0.2s ease;
}
.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--purple);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.add-btn:hover {
  background-color: #5850dd;
  transition: background-color 0.2s ease;
}
.dialog-modal {
  position: fixed;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  border: 1px solid var(--white);
  border-radius: 16px;
  background-color: var(--black);
}
.dialog-modal::backdrop {
  background-color: rgba(37, 37, 37, 0.7);
}
.modal-wrap {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 289px;
  padding: 18px 30px;
}
.modal-wrap h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: var(--white);
  text-align: center;
  margin-bottom: 25px;
}
.modal-wrap input {
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 8px 16px;
  width: 440px;
  height: 38px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
}
.btns-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.modal-btn {
  border: 1px solid var(--purple);
  border-radius: 5px;
  padding: 8px 10px;
  width: 110px;
  height: 38px;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: var(--purple);
  cursor: pointer;
}
.modal-btn:hover {
  background-color: var(--purple);
  color: var(--white);
  transition: background-color 0.2s ease, color 0.2s ease;
}
.empty-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.empty-text {
  font-size: 20px;
  line-height: 100%;
  color: var(--white);
}

@media screen and (max-width: 900px) {
  .app-todo {
    width: 430px;
    padding: 40px 15px 0;
  }
  .app-todo h1 {
    font-size: 28px;
  }
  .direction-wrap {
    flex-direction: column;
    align-items: flex-end;
  }
  .search-wrap {
    width: 400px;
  }
  .notes-list {
    width: 400px;
    height: 319px;
  }
  .note-title {
    font-size: 18px;
  }
  .dialog-modal {
    transform: translate(-50%, -50%);
  }
  .modal-wrap {
    width: 280px;
    height: 180px;
    padding: 15px;
  }
  .modal-wrap h2 {
    font-size: 20px;
  }
  #input-add {
    width: 250px;
  }
  #close-btn {
    font-size: 16px;
  }
  #apply-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  .app-todo {
    width: 300px;
    padding: 40px 10px 0;
  }
  .app-todo h1 {
    font-size: 24px;
  }
  .search-wrap {
    width: 280px;
  }
  .filter-label {
    font-size: 16px;
  }
  .notes-list {
    width: 280px;
  }
  .note-title {
    font-size: 16px;
  }
}
